/* Login Form Styling */
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.Login {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.Login h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.Login input[type="text"],
.Login input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.Login input[type="submit"] {
    background-color: #04AA6D;
    font-size: 18px;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.Login input[type="submit"]:hover {
    background-color: #039f59;
}

/* For smaller screens */
@media screen and (max-width: 600px) {
    .Login {
        width: 90%;
    }

    .main {
        padding: 10px;
    }
}
